{% include "header.html" %}
<!-- Page Header-->
<header class="masthead"
  style="
    margin: 0;
    min-height: 100vh;
    background: #f8f1e4 ;
  ">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 text-center">
        <div class="p-5 bg-body-tertiary rounded-3 shadow-lg">
          <h1 class="text-body-emphasis">Загальна інформація по студенту</h1>
          <p class="col-lg-8 mx-auto fs-5 text-muted">
            За кнопками нижче можна побачити два вигляди представлення інформації
          </p>
          <div class="d-flex justify-content-center gap-2 mb-4">
            <button class="btn btn-primary btn-lg px-4 rounded-pill"
                    type="button"
                    onclick="window.location.href='{{ url_for('static', filename='image/avg_per_student.png') }}'">
              Графік середніх балів
            </button>
            <button class="btn btn-primary btn-lg px-4 rounded-pill"
                    type="button"
                    onclick="showTable()">
              Таблиця середніх балів
            </button>
          </div>
          <!-- Таблиця схована спочатку -->
          <div id="myTable" style="display: none; margin-top:20px;">
            <div class="card bg-light bg-opacity-75">
              <div class="card-body p-0">
                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th>Студент</th>
                      <th>Середній бал</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for name, avg in data %}
                      <tr>
                        <td>{{ name }}</td>
                        <td>{{ "%.2f"|format(avg) }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
function showTable() {
  let table = document.getElementById('myTable');
  table.style.display = (table.style.display === 'none') ? 'block' : 'none';
}
</script>
