{% include "header.html" %}

<style>
  .masthead {
    background:  linear-gradient(90deg, #f8f1e4 0%, #fff8dc 100%);
    padding: 60px 0 40px 0;
    box-shadow: 0 8px 24px rgba(0,0,0,0.04);
  }
  .mode-title {
    text-shadow: 1px 2px 6px #bbb;
    font-size: 2.6rem;
    font-weight: bold;
  }
  .mode-desc {
    font-size: 1.1rem;
    color: #4f4f4f;
    margin-bottom: 24px;
  }
  img.my-image {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
</style>

<!-- Page Header-->
<header class="masthead text-center">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <h1 class="mode-title mb-3">Мода по предмету</h1>
        <img src="{{ url_for('static', filename='image/mode.png') }}"
             alt="Графік моди по предмету"
             class="my-image">
    </div>
  </div>
</header>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
          <div class="card shadow-sm border-0 mb-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

