{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
    style="
    margin: 0;
    min-height: 100vh;
    background: #f8f1e4 ;
  ">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
            <h1>Середнє значення по предметам</h1>
        <img src="{{ url_for('static', filename='image/avg_per_subject.png') }}" alt="Середнє значення">
      </div>
<div>
          <a href="{{ url_for('static', filename='image/avg_per_subject.png') }}"
             download="avg_per_subject.png"
             class="btn btn-primary mb-2">
             Завантажити зображення
          </a>
          <a href="{{ url_for('static', filename='image/avg_per_subject.png') }}"
             target="_blank"
             class="btn btn-outline-secondary mb-2 ms-2">
             Відкрити у новій вкладці
          </a>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <div class="my-5">
      </div>
    </div>
  </div>
    </div>
</main>
