{% include "header.html" %}

<!-- Page Header-->
<header class="masthead"
  style="
    margin: 0;
    min-height: 100vh;
    background: #f8f1e4 ;
  ">
  <div class="container position-relative px-4 px-lg-5">
            <div class="col-md-10 col-lg-8 text-center">
    <h2>Завантажте файл з розширенням .json</h2>
        {% if error %}
          <p style="color:red;">{{ error }}</p>
        {% endif %}
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept=".json" required>
          <button type="submit">Завантажити</button>
        </form>
  </div>
  </div>
</header>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <div class="my-5"></div>
      </div>
    </div>
  </div>
</main>

